.header {
  position: relative;
  z-index: 1;
  .card {
    margin: auto;
    max-width: calc(100% - 3rem);
    display: flex;
    align-items: center;
    // justify-content: flex-end;
  }
  .header__card {
    height: 5.375rem;
    background-color: whitesmoke;

    .header__card-logo {
        margin-right: auto;
    }
    .header__card-lang {
        margin: 0 0.5rem;
    }
    .header__card-sign {
        margin: 0 0.5rem;
    }
  }
}
