@use "../../styles/variable.scss" as *;
.header {
  position: relative;
  z-index: 1;
}
.card-header {
  height: 5rem;
  margin: auto;
  max-width: calc(100% - 3rem);
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .logo {
    margin-right: auto;
  }
  .language {
    margin-right: 0.25rem;
    position: relative;
    .globe {
      position: absolute;
      top: 26.5%;
      left: 10%;
    }
    select {
      padding: 0.35rem 2.25rem;
      border-radius: 5px;
      appearance: none;
      color: $white-900;
      background: transparent;
    }
  }
  .button {
    margin-left: 0.25rem;
  }
}

@media screen and (min-width: 600px) {
  .card-header {
    max-width: calc(100% - 4rem);
    .language {
      margin: 0 0.75rem;
      select {
        padding-right: 1rem;
      }
    }
    .button {
      margin: 0 0.75rem;
    }
  }
}

@media screen and (min-width: 1280px) {
  .card-header {
    max-width: calc(85% - 6rem);
    .netflix-logo {
      width: 10rem;
    }
  }
}
